.App {
  text-align: center;
}

section {
  word-wrap: break-word;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homepage {
  background-image: url('images/background/IMG_2290.JPG'); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutpage {
  background-image: url('images/background/IMG_2204.JPG'); 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.navbar-container {
  width: 30vw; 
  margin: auto auto; 
}

.navbar-container-background {
  background: rgba(0, 0, 0, 0.8); 
  border-radius: 10vmin; 
  z-index: 1; 
  transition: 0.3s; 
}

.title {  
  display: block; 
  font-size: 20vmin;
} 

.min-vh-title {
  min-height: 160vmin;
}

.subtitle {
  display: block; 
  font-size: 5vmin; 
}

.page-container {
  color: white; 
  padding-top: 15vh; 
}

.card-link {
  text-decoration: none; 
  margin: 2rem 0 2rem 0; 
  transition: all .2s ease-in-out; 
}

.card-link:hover {
  transform: scale(1.05); 
}

.card-img {
  object-fit: cover; 
}

/* for mobile */
.fullscreen {
  min-height: 100vmax; 
}

/* small laptops and tablets */
@media only screen and (min-width: 768px) {
  .fullscreen {
    min-height: 50vmax; 
  }
}

/* medium-large screens */
@media only screen and (min-width: 1275px) {
  .fullscreen {
    min-height: 100vmin; 
  }
}

.fillspace {
  height: 80vh; 
}

